# SQL Exercises - Fugue

This exercise is about using SQL to retrieve information from a database.

To simplify things, instead of connecting to an actual database, we will work with a pandas dataframe and treat it as if it were a database table.

We will be using a library called [Fugue](https://fugue-tutorials.readthedocs.io/tutorials/fugue_sql/index.html) which will enable us to execute SQL commands on the dataframe directly in a notebook.
To run these examples, you will first have to install it with `pip install fugue[sql]`.

### About Fugue

Fugue is one way of calling SQL commands through the notebook. One of its strengths is that it can use SQL-like syntax for different data sources, such as data frames.

The syntax we show here is almost identical to SQL, except that we need to add the `PRINT` keyword to see the output. We also only see up to 10 lines of output for each query, even if there are more results.
Otherwise, the commands we give and the results we get are very similar to what we would see in a real RDBMS.

## Examples

We start with some examples of setting up and using the library.

In [ ]:
# Unfortunately `fugue` is going to cause some `FutureWarnings`, so turning them off for now to keep things cleaner
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

This next cell sets up `fugue`, which we must do before using it:

In [ ]:
import pandas as pd
from fugue_notebook import setup
setup()

As a quick demonstration, we will now create a simple dataframe with `pandas`, and then use `fugue` to play around with it.

In [ ]:
df = pd.DataFrame({"numeric": [0, 1, 2], "text": ["A", "B", "C"]})

In [ ]:
df.head()

To recreate this with SQL, let's retrieve all values.

In [ ]:
%%fsql
SELECT *
FROM df
PRINT

Note the line at the bottom of the output, which gives us the **schema** (the data type for each column).

We can retrieve particular rows that match a condition as usual:

In [ ]:
%%fsql
SELECT *
FROM df
WHERE numeric=0
PRINT

and columns:

In [ ]:
%%fsql
SELECT numeric
FROM df
PRINT

Now let's get started with the exercises. First, let's download a dataset from `scikit-learn`.

In [ ]:
from sklearn.datasets import fetch_california_housing
data_california = fetch_california_housing()

Let's convert this to a dataframe so we can play with it:

In [ ]:
california = pd.DataFrame(data=data_california.data, columns=data_california.feature_names)
california['target'] = data_california.target
california.head()

## Finding rows with high target variable

We can query this to find the rows with `target` value greater than 4: (note that the `fugue` will only print the first 10 rows by default)

In [ ]:
%%fsql
SELECT *
FROM california
WHERE ...
PRINT

We can also find how many such rows there are:

In [ ]:
%%fsql
SELECT COUNT(*) AS TotalHighTarget
...
PRINT

To get an idea of the distribution of values in the target column, we can use some aggregate SQL functions:

In [ ]:
%%fsql
SELECT AVG(...) AS AverageTarget, MIN(...) AS MinTarget, MAX(...) AS MaxTarget
...
PRINT

The results should show that the target values range between approximately 0.15 and 5, so our choice of 4 as a "high" target may be reasonable.

## Focus on older buildings

Find the rows where `HouseAge` is greater than 50 and `Population` is more than 1000.

In [ ]:
%%fsql
...
PRINT

And count how many rows like these there are:

In [ ]:
%%fsql
...
PRINT

## More advanced keywords

Find the 5 rows with the highest number of average bedrooms, which are less than 30 years old.

**Hint:** You will need the `ORDER BY` and `LIMIT` keywords.
`ORDER BY` is followed by a column name and a sorting direction (`ASC` or `DESC` for ascending or descending, respectively).
`LIMIT` is followed by the maximum number of results we want to retrieve

In [ ]:
%%fsql
SELECT ...
FROM ...
WHERE ...
ORDER BY ... DESC
LIMIT ...
PRINT